Exercise 1

In [3]:
my_list = [10, 20, 30, 40, 50]

print(my_list[2])
print(len(my_list))

if len(my_list) == 0:
  print('The list empty.')
else:
  print('The list is not empty.')

30
5
The list is not empty.

Exercise 2

In [6]:
my_list = [10, 20, 30, 40, 50]
print("Initial list:", my_list)

# Change the second element (at index 1) to 200
my_list[1] = 200
print("After changing second element:", my_list)

# Add 600 to the end of the list
my_list.append(600)
print("List after appending 600:", my_list)

# Insert 300 at index 2
my_list.insert(2, 300)
print("List after inserting 300 at index 2:", my_list)

# Remove 600 from the list (by value)
my_list.remove(600)
print("List after removing 600 (by value):", my_list)

# Remove the element at index 0 (using del)
del my_list[0]
print("List after removing element at index 0:", my_list)

Initial list: [10, 20, 30, 40, 50]
After changing second element: [10, 200, 30, 40, 50]
List after appending 600: [10, 200, 30, 40, 50, 600]
List after inserting 300 at index 2: [10, 200, 300, 30, 40, 50, 600]
List after removing 600 (by value): [10, 200, 300, 30, 40, 50]
List after removing element at index 0: [200, 300, 30, 40, 50]

Exercise 3

In [ ]:
numbers = [10, 20, 30, 40, 50]

sum_total = sum(numbers)

# Calculate the average
# The average is the sum divided by the number of elements
average = sum_total / len(numbers)

print("Sum:", sum_total)
print("Average:", average)

Sum: 150
Average: 30.0

Exercise 4

In [25]:
list1 = [100, 200, 300, 400, 500]

# Method 1
reverse_list1 = list1[::-1]
print(reverse_list1)

#Method 2
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]
[500, 400, 300, 200, 100]

Exersice 5

In [34]:
numbers = [1, 2, 3, 4, 5, 6, 7]
square = []
for i in numbers:
  square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49]

Exercise 6

In [41]:
data = [8, 2, 15, 1, 9]

# Find the maximum number
maximum_number = max(data)

# Find the minimum number
minimum_number = min(data)


print("Largest number:", maximum_number)
print("Smallest number:", minimum_number)

Largest number: 15
Smallest number: 1

Exercise 7

In [43]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis']
football_count = sports.count('Football')

print('Count:', football_count)

Count: 2

Exercise 8

In [54]:
numbers = [5, 2, 8, 1, 9]
numbers.sort()

print(f"Original list:", numbers)
print(f"Sorted list:", sorted(numbers))

Original list: [1, 2, 5, 8, 9]
Sorted list: [1, 2, 5, 8, 9]

In [53]:
# Method 1: Using the sort() method (sorts in-place)
numbers.sort()
print("Sorted list (in-place using .sort()):", numbers)

# Resetting for demonstration of sorted()
numbers = [5, 2, 8, 1, 9]
print("\nOriginal list for sorted() demonstration:", numbers)

# Method 2: Using the sorted() function (returns a new sorted list)
sorted_numbers = sorted(numbers)
print("New sorted list (using sorted()):", sorted_numbers)
print("Original list after sorted() (unchanged):", numbers)

Sorted list (in-place using .sort()): [1, 2, 5, 8, 9]

Original list for sorted() demonstration: [5, 2, 8, 1, 9]
New sorted list (using sorted()): [1, 2, 5, 8, 9]
Original list after sorted() (unchanged): [5, 2, 8, 1, 9]

Exercise 10

In [ ]:
list_a = [1, 2]
list_b = [3, 4]

# Method 1 using + operator
print(list_a + list_b)

# Method 2
list_c = [1,2]
list_c.extend(list_b)
print("Combined list (using .extend() on temp_list):", list_c)

# Method 3 : Using unpacking (creates a new list - Python 3.5+) ---> I didnt knew this method
combined_list_unpacking = [*list_a, *list_b]
print("Combined list (using unpacking *):", combined_list_unpacking)

[1, 2, 3, 4]
Combined list (using .extend() on temp_list): [1, 2, 3, 4]

Exercise 11

In [68]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))

print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

Exercise 12

In [69]:
list_with_duplicates = [1, 2, 2, 3, 1, 4, 5, 4]

list1 = list(set(list_with_duplicates))

print(list1)

[1, 2, 3, 4, 5]

Exercise 13

In [76]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# Method 1
for i  in list1:
  if i == 20:
    list1.remove(20)
print(list1)

# Method 2
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]
[5, 15, 25, 50]

Exercise 14

In [ ]:
my_list = [1, 2, 3, 'Jessa', 4, 5, 'Kelly', 'Jhon', 6]

Exercise 15

In [77]:
nested_list = [[10, 20, 30], [44, 55, 66], [77, 87, 99]]

print(nested_list[1][1])

55

Exercise 16

In [79]:
# Check afterwards

Exercise 17

In [ ]:
l1 = ["M", "na", "i", "Ke"]
l2 = ["y", "me", "s", "lly"]

l3 = [i + j for i, j in zip(l1, l2)]
print(l3)

['My', 'name', 'is', 'Kelly']

Exercise 18

In [93]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

l3 = [x + y for x in list1 for y in list2]
print(l3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

Exercise 19

In [102]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x,y in zip(list1, list2[::-1]):
  print(x,y)

10 400
20 300
30 200
40 100

Exercise 21

In [105]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Exercise 22

In [107]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']