In [1]:
# A tuple is created by writing in ()
# A tuple cannot be changed once it is made i.e it is immutable.

In [2]:
coordinates = (4, 5)
# Index        0  1
print(coordinates)
print(coordinates[0])

(4, 5)
4

In [3]:
coordinates[1] = 10 # Not changable

TypeError: 'tuple' object does not support item assignment

#### Indexing and Slicing in Tuples

In [ ]:
# Tuples inside a list
coordinates = [(4, 5), (6, 7), (40, 34)]
# Index         0 1     0  1     0   1
# Index          0        1        2
print(coordinates[0])
print(coordinates[1])

(4, 5)
(6, 7)

In [9]:
# Nested tuples inside a list

print(coordinates[0][1])
print(coordinates[2][0])

5
40

In [10]:
# Other indexing and Slicing methods are same as Lists

#### Unpacking and Packing of Tuples

In [ ]:
# Packing means assigning values to a tuple
# Unpacking means extracting values from a tuple and put them in variables

In [ ]:
cars = ("Audi", "Mercedes", "BMW")
car1, car2, car3  =  cars
#---Variables---     Tuple
print(car1)
print(car2)
print(car3)

Audi
Mercedes
BMW

In [14]:
# Use of Asterist in unpacking atuple
# Used when th number of variables are less than the values of a tuple.

cars = ("Audi", "Mercedes", "BMW", "Toyota", "Ford")

car1, car2, *car3  =  cars
# If asterisk is not used it will give a Value error
print(car1)
print(car2)
print(car3)

Audi
Mercedes
['BMW', 'Toyota', 'Ford']

In [17]:
# If asterisk is used other than last variable

cars = ("Audi", "Mercedes", "BMW", "Toyota", "Ford")

car1, *car2, car3  =  cars
# Two asterisk cannot be used! 
print(car1)
print(car2)
print(car3)

Audi
['Mercedes', 'BMW', 'Toyota']
Ford

#### Nested Tuples

In [18]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [21]:
print(tuple1[1][2])
print(tuple1[0])
print(tuple1[2][-1])

30
Orange
25